* *::before *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue_main_BG: hsl(217, 54%, 11%);
    --Verydarkblue_card_BG: hsl(216, 50%, 16%);
    --Verydarkblue_line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Verydarkblue_main_BG);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 300px;
    height: auto;
    border-radius: 24px;
    padding: 16px;
    background-color: var(--Verydarkblue_card_BG);
    box-shadow: 0 2.7rem 1.5rem rgb(0 0 0 / 25%);
}

.NFT-img img {
    padding: 8px;
    border-radius: 28px;
    height: 285px;
    width: auto;
}

.NFT-text {
    padding: 12px;
    font-size: 18px;
}

.NFT-text h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--White);
}

.NFT-text h1:hover {
    color: var(--Cyan);
}

.NFT-text p {
    font-weight: 300;
    color: var(--Softblue);
}

.NFT-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.NFT-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Softblue);
}

.NFT-time img {
    padding-right: 8px;
}

.ETH-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Cyan);
}

.ETH-price img {
    padding-right: 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}